*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
/*Header*/
.main__header
{
    background: radial-gradient(circle, rgba(250,221,225,1) 14%, rgba(255,166,193,1) 96%);
    text-shadow: 3px 2px 2px rgba(150, 150, 150, 0.81);
    padding: 2%;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3rem;
    -webkit-text-stroke: 0.03rem #e78caf;
}
.main__header_item
{
    display: flex;
    justify-content: center;
    align-items: center;   
}
#logobanner
{
    margin: 0.8rem 2rem;
}
#spacebar
{
    display: flex;
    justify-content: center;
}
.main__header_nav
{
    display: flex;
    list-style: none;
    margin: auto;
    padding-bottom: 1.5rem;
}
.main__header_nav a
{
    text-decoration: none;
    color: white;
    
}
.main__header_nav a:hover
{
    color: #e78caf;
}
@media only screen and (max-width: 900px){
    .main__header{
        text-align: center;
        font-size:2rem;
    }
    #logobanner{
        overflow: hidden;
        vertical-align: middle;
        width: 6.8rem;  /*image size with 4px of left padding*/
        height: 6.8rem;
        position: sticky;
        margin: 0;
        padding-left: 0.4rem; /*padding*/
    }
    .main__header_nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;}
    #header_nav_box1, #header_nav_box3{
        background-color:rgba(250, 221, 225, 0.26);
        border-radius: 0.5rem;
    }
    #spacebar{
        overflow: hidden;
    }
   
}
    



